@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured
{
    <header class="main-header">
        <div class="container">
            <h1 class="page-title">About us</h1>

            <ol class="breadcrumb pull-right">
                <li><a href="#">Home</a></li>
                <li class="active">About us</li>
            </ol>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="title-logo animated fadeInDown animation-delay-5">GANAF<span>Technologies</span></div>
            </div>
            <div class="col-xs-12">
                <p class="slogan text-center animated bounceInLeft animation-delay-12">Discover our jobs and the rigorous process of <span>creation</span>.
                    <br>
                    Our principles are <span>creativity</span>, <span>design</span>, <span>experience</span> and <span>knowledge</span>.</p>
            </div>
            <div class="col-md-12 wow fadeInUp">
                <h2 class="right-line">About us</h2>
                <p class="p-lg">
                    GANAF Technologies information would show up here once it has been provided by the admin. We are still expecting details from them and once they supply it you'd find it here. I am not keeping you posted. Just keep on checking back.... but i think i am tired typing!
                 We are still expecting details from them and once they supply it you'd find it here. I am not keeping you posted. Just keep on checking back.... but i think i am tired typing!
                </p>
                <h4>Other information</h4>
                <p class="p-lg">
                    GANAF Technologies information would show up here once it has been provided by the admin. We are still expecting details from them and once they supply it you'd find it here. I am not keeping you posted. Just keep on checking back.... but i think i am tired typing!
                We are still expecting details from them and once they supply it you'd find it here. I am not keeping you posted. Just keep on checking back.... but i think i am tired typing!
                </p>
                <hr class="dotted">
                <blockquote class="blockquote-color-bg-primary pull-right">
                    <p>The block quote from our oga. Our oga at the top never supply am. You go find am here once oga supplies!</p>
                    <footer>G. N. Adekunle, Head, Technical Operations.</footer>
                </blockquote>
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
}
